@media only screen and (max-width: 1024px){

    
}
@media only screen and (max-width: 992px){
    

}
@media only screen and (max-width: 900px){
   
    
}

@media only screen and (max-width: 768px){
    section.team.section-padding {
        overflow: hidden;
    }  
    header.header.slider-fade  .text-right.item.bg-img {
        background-size: 100%;
        background-repeat: no-repeat;
    } 
    .about.section-padding2, .about.section-padding, {
        margin-top: -200px;
    }
    #why_us {
        margin-top: -500px;
    }
    .bauen-project.section-padding2 {
        margin-top: -400px;
    }
    .projects.section-padding2 {
        margin-top: -500px;
    }
    .bauen-project.section-padding2.asdf {
        margin-top: -200px;
    }
    .bauen-project.section-padding2 {
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media only screen and (max-width: 600px){
    section{
        padding-left:20px;
        padding-right:20px;
    }
    
}
@media only screen and (max-width: 480px){
    

}
@media only screen and (max-width: 320px){
    

}
