@media only screen and (max-width: 1024px){

    
}
@media only screen and (max-width: 992px){
    

}
@media only screen and (max-width: 900px){
   
    
}

@media only screen and (max-width: 768px){
    section.team.section-padding {
        overflow: hidden;
    } 
    .header {
        min-height: auto;
        overflow: hidden;
        height: 470px;
    } 
    .slider .item,
    .slider-fade .item {
        position: absolute;
        top: 100px;
        left: 0;
        height: 100%;
        width: 100%;
        
        background-position: center;
    }
    header.header.slider-fade  .text-right.item.bg-img {
        background-size: contain;
        background-repeat: no-repeat;
    } 
    /* .about.section-padding2, .about.section-padding, {
        margin-top: -200px;
    }
    #why_us {
        margin-top: -500px;
    }
    .bauen-project.section-padding2 {
        margin-top: -400px;
    }
    .projects.section-padding2 {
        margin-top: -500px;
    }
    .bauen-project.section-padding2.asdf {
        margin-top: -200px;
    } */
    .bauen-project.section-padding2 {
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media only screen and (max-width: 600px){
    section{
        padding-left:20px;
        padding-right:20px;
    }
    
}
@media only screen and (max-width: 480px){
    

}
@media only screen and (max-width: 320px){
    

}
